table(border='0', cellspacing='0', cellpadding='0', width='100%',class='eventTable')
	tr(style='vertical-align:text-top;')
		td(style='padding-left:5px;padding-right:5px;vertical-align:text-top;text-decoration:underline')
			label(class='labelEventHeader')
				| #{post.name}
	tr
		td(style='padding-left:5px;padding-right:5px;vertical-align:text-top;')
			label(class='labelEventHeaderDate')
				| #{post.eventDate.getUTCMonth()+1}/#{post.eventDate.getUTCDate()}/#{post.eventDate.getUTCFullYear()}
	tr
		td(style='padding-left:5px;padding-right:5px;vertical-align:text-top;')
			p(class='labelEventBody')
				| #{post.description}