table(border='0', cellspacing='0', cellpadding='0', width='100%',style='vertical-align:text-top;')
	tr(style='vertical-align:text-top;')
		td(style='padding-left: 5px; padding-right: 5px;vertical-align:text-top;')
			h3(style='font-family:"Georgia", Times, serif;')
				| #{post.name}
			label(style='font-family:"Georgia", Times, serif;')
				| #{post.eventDate.getUTCMonth()+1}/#{post.eventDate.getUTCDate()}/#{post.eventDate.getUTCFullYear()}
			p(style='font-size: 12px;')
				| #{post.description}