table(border='0', cellspacing='0', cellpadding='0', width='100%',class='eventTable')
	tr(style='vertical-align:text-top;')
		td(style='padding-left:5px;padding-right:5px;vertical-align:text-top;')
			h1(style="margin:0;padding:0;display:block") #{post.name}
	tr
		td(style='padding-left:5px;padding-right:5px;vertical-align:text-top;')
			if(post.eventDate) 
				case post.eventDate.getDay()
					when 0
						h4(style="margin:0;padding:0;display:block") Sunday, #{post.eventDate.getUTCMonth()+1}/#{post.eventDate.getUTCDate()}/#{post.eventDate.getUTCFullYear()}
					when 1
						h4(style="margin:0;padding:0;display:block") Monday, #{post.eventDate.getUTCMonth()+1}/#{post.eventDate.getUTCDate()}/#{post.eventDate.getUTCFullYear()}
					when 2
						h4(style="margin:0;padding:0;display:block") Tuesday, #{post.eventDate.getUTCMonth()+1}/#{post.eventDate.getUTCDate()}/#{post.eventDate.getUTCFullYear()}
					when 3
						h4(style="margin:0;padding:0;display:block") Wednesday, #{post.eventDate.getUTCMonth()+1}/#{post.eventDate.getUTCDate()}/#{post.eventDate.getUTCFullYear()}
					when 4		
						h4(style="margin:0;padding:0;display:block") Thursday, #{post.eventDate.getUTCMonth()+1}/#{post.eventDate.getUTCDate()}/#{post.eventDate.getUTCFullYear()}
					when 5
						h4(style="margin:0;padding:0;display:block") Friday, #{post.eventDate.getUTCMonth()+1}/#{post.eventDate.getUTCDate()}/#{post.eventDate.getUTCFullYear()}
					when 6
						h4(style="margin:0;padding:0;display:block")Saturday, #{post.eventDate.getUTCMonth()+1}/#{post.eventDate.getUTCDate()}/#{post.eventDate.getUTCFullYear()}
	tr
		td(style='padding-left:5px;padding-right:5px;vertical-align:text-top;')
			p(class='labelEventBody', style='white-space:pre;')
				| !{post.description}
hr